* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    background-color: #3B3F45;
    color: #FFF;
}

/*.container {
    width: min(800px, 90%);
    margin-inline: auto;
}*/

.header {
    background-color: #4A4F56;
    text-align: center;
    min-height: 122px;
    padding-top: 23px;
    padding-bottom: 23px;
    color: #FF8984;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 6px;
}

hgroup>p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
}

.shoppinglist {
    width: min(800px, 90%);
    min-height: 408px;
    margin-inline: auto;
    text-align: left;
    list-style: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    position: relative;
    background-color: #FFF;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
    flex-shrink: 0;
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 16px;
    height: 9px;
    border-left: 4px solid #000;
    border-bottom: 4px solid #000;
    transform: translate(-50%, -65%) rotate(-45deg);
    border-radius: 0;
}

input[type="checkbox"]:checked~span {
    text-decoration: line-through;
    color: #9B96AC;
}

li {
    width: 800px;
    height: 68px;
    font-weight: 400;
    font-size: 1.6875rem;
    line-height: 1;
    display: flex;
    align-items: center;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    .notes {
        display: inline-flex;
        font-weight: 400;
        font-size: 1.0625rem;
        line-height: 1;
        align-items: center;
        margin-left: 15px;
    }

    .notes::before {
        content: "(";
    }

    .notes::after {
        content: ")";
    }
}

ul>li:nth-last-child(odd) {
    background-color: #88839E;
}

ul>li:nth-last-child(even) {
    background-color: #625E77;
}

.shoppinglist li:hover {
    background-color: #7A7593;
    transition: all 0.2s ease;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.shoppinglist li:active {
    background-color: #FF8984;
}

#button {
    width: min(800px, 90%);
    height: 65px;
    margin-inline: auto;
    background-color: #4A4F56;
    text-align: center;
    color: #FF8984;
}

button {
    all: unset;
    color: #FF8984;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1;
    padding-top: 16px;
    padding-bottom: 16px;
}

#button:hover {
    background-color: #FF8984;

    button {
        color: #000;
    }
}