:root {
    --brown-dark-color: #2F281E;
    --orange: #FF9900;
    --white: #FFF;
    --brown: #544837;
    --violet: #7752BE;
    --light-orange: #FAB005;
    --coral: #F03E3D;
    --blue: #4DADF7;
    --coral-secondary: #D80B0A;
    --grey-light: #D6E0EB;
    --blue-light: #BCD0E5;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
button {
    transition: all .2s ease;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    main {
        flex-grow: 1;
    }
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: var(--white);
    color: var(--brown-dark-color);
}

.container {
    width: min(90%, 1230px);
    margin: 0 auto;
}

header {
    height: 80px;
    margin-bottom: 90px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}

.logo img {
    display: block;
}

.buttons {
    display: flex;
    gap: 32px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.sec-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.nav-list li a {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--brown-dark-color);

    &:hover {
        color: var(--orange);
    }

    &:active {
        color: var(--coral);
    }
}

button {
    display: inline-block;
    padding: 14px;
    background-color: var(--orange);
    color: var(--white);
    font-family: Montserrat;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 600;
    text-align: center;
    min-width: 180px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--coral);
    }

    &:active {
        background-color: var(--coral-secondary);
    }
}

.buttons button {
    min-width: 110px;
    padding: 11px 0;
}

.s-in-btn {
    background-color: var(--white);
    color: var(--brown-dark-color);
    border: 1px solid var(--brown-dark-color);

    &:hover {
        background-color: var(--white);
        border-color: var(--coral);
        color: var(--coral);
    }

    &:active {
        background-color: var(--white);
        border-color: var(--coral-secondary);
        color: var(--coral-secondary);
    }
}

.block,
.fifth-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

h1 {
    font-size: 2.75rem;
    line-height: 3.375rem;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
    color: var(--brown);
}

section {
    padding-bottom: 90px;
}

.first-sec .block {
    p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 400;
        padding-right: 10px;
        margin-bottom: 39px;
    }
}

h2 {
    font-size: 2.25rem;
    line-height: 2.7rem;
    font-weight: 700;
}

#second {
    background-image: url('./images/bg.svg');
    background-size: 100% auto;
    background-position: left 50% bottom 7px;
    background-repeat: no-repeat;
}

.second-sec {

    h2 {
        text-align: center;
        max-width: 539px;
        margin: 0 auto 50px auto;
    }
}

.items-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 0 15px;
    margin-bottom: 60px;

    li {
        width: 25%;
    }

    li div {
        height: 50px;
        width: 50px;
        flex-shrink: 0;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    li h3 {
        font-size: 1.375rem;
        line-height: 1.65rem;
        font-weight: 600;
        margin-bottom: 16px;
    }
}

.second-sec-btn {
    text-align: center;
}

#click {
    background-color: var(--violet);
}

#survays {
    background-color: var(--light-orange);
}

#heart {
    background-color: var(--coral);
}

#hourglass {
    background-color: var(--blue);
}

.top-name {
    margin-bottom: 20px;
}

.third-sec {
    padding-top: 90px;
}

.flex-par {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 82%;

    h3 {
        font-size: 1rem;
        line-height: 1.625rem;
        font-weight: 700;
        color: var(--brown);
        margin-bottom: 4px;
    }
}

.block>p {
    padding-right: 150px;
    margin-bottom: 40px;
}

.last-par {
    margin-bottom: 18px;
}

.pm-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 165px;
}

.pm-list {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.pm-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    hgroup {
        margin-bottom: 20px;
    }
}

.pm-block>p {
    margin-bottom: 40px;
}

.pm-list li {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;


    &::before {
        content: "";
        display: inline-block;
        width: 35px;
        height: 35px;
        background-image: url('./images/path.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--orange);
        border-radius: 10px;
        flex-shrink: 0;
    }
}

.l-paragraf {
    margin-bottom: 24px;
}

.fifth-block>p {
    padding-right: 130px;
    margin-bottom: 40px;
}

.fifth-block {
    padding-left: 5px;
}

footer {
    height: 349px;
    border-top: 1px solid var(--grey-light);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 70px 0;
        gap: 140px;
        height: 100%;
    }

    nav {
        white-space: nowrap;
    }

    h4 {
        font-size: 1.25rem;
        line-height: 1.875rem;
        font-weight: 700;
        margin-bottom: 30px;
    }

    li {
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-bottom: 12px;
    }
}

.connect {
    p {
        font-size: 1.25rem;
        line-height: 1.875rem;
        font-weight: 700;
        color: var(--brown-dark-color);
        margin-bottom: 21px;
        width: 90%;
    }

    input[type=tel] {
        width: 100%;
        height: 50px;
        border: 1px solid var(--blue-light);
        border-radius: 4px;
        padding-left: 10px;
        margin-bottom: 25px;
    }
}

input::placeholder {
    font-family: "Montserrat";
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--blue-light);
}