$text-color: #565656;
$background-color:#FFF;
$black:#000;
$gray:#7B7B7B;
$footer-bg:#F4F4F4;

@mixin fz($px) {
    font-size: ($px/16)*1rem;
}

@mixin lh($px) {
    line-height: ($px/16)*1rem;
}

@mixin text($fw, $color) {
    font-weight: $fw;
    color: $color;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
    display: block;
}

a,
button {
    transition: all .2s ease;
}

img {
    display: block;
}

body {
    font-family: "Lato", sans-serif;
    @include fz(16);
    color: $text-color;
    background-color: $background-color;
}

.container {
    width: min(90%, 1170px);
    margin: 0 auto;
}

header {
    background-color: $background-color;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header-wrap {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 42px;

    li {
        text-transform: uppercase;
        @include fz(14);
        letter-spacing: 0.2625rem;
    }
}

.list-search {
    display: flex;
    align-items: center;
    gap: 84px;
}

.search button {
    height: 42px;
    width: 42px;
    background-color: $background-color;
    border: none;
    cursor: pointer;
}

main {
    padding-top: 100px;
}

section {
    margin-bottom: 90px;
}

.hero {
    background-image: url('../images/bg-image.webp');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1,
#special,
#spec {
    font-family: "Red Hat Display", sans-serif;
    @include fz(48);
    @include lh(64);
    @include text(600, $black);
    letter-spacing: 0.15rem;
}

#special,
#spec {
    @include text(400, $black);
}

h1 {
    padding-top: 100px;
    width: 770px;
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    align-items: stretch;
}

.content-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

hgroup {
    margin-bottom: 15px;

    p {
        @include fz(16);
        line-height: 1.66;
        @include text(400, $gray);
        letter-spacing: 0.1rem;
        margin-bottom: 30px;
    }

    h3 {
        width: 63%;
        font-family: "Red Hat Display", sans-serif;
        @include fz(23);
        line-height: 1.66;
        @include text(500, $black);
        letter-spacing: 0.14375rem;
    }
}

time {
    @include fz(16);
    line-height: 1.66;
    @include text(400, $gray);
    letter-spacing: 0.1rem;
    margin-bottom: 30px;
}

.content-group>p {
    width: 78%;
    line-height: 1.66;
    letter-spacing: 0.05rem;
}

h2 {
    font-family: "Red Hat Display", sans-serif;
    @include fz(28);
    line-height: 1.66;
    @include text(600, $black);
    letter-spacing: 0.1rem;
    margin-bottom: 50px;
}

.cont-group hgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    p,
    time {
        @include fz(12);
        margin-bottom: 25px;
    }

    h3 {
        width: 85%;
        @include fz(22);
        letter-spacing: 0.1rem;
        order: 2;
    }
}

.cont-group>p {
    width: 88%;
    line-height: 1.66;
    letter-spacing: 0.05rem;
}

.flex-wrapper img {
    margin-bottom: 25px;
}

.two-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.items hgroup {
    h3 {
        width: 97%;
        @include fz(24);
    }
}

.btn button {
    display: block;
    margin: 50px auto 90px;
    text-align: center;
    width: 180px;
    height: 46px;
    border: none;
    background-color: $text-color;
    color: $background-color;
    cursor: pointer;
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 230px;
}

.info>p {
    font-family: "Red Hat Display", sans-serif;
    @include fz(23);
    line-height: 1.66;
    @include text(400, $black);
    letter-spacing: 0.14375rem;
}

.paragraf {
    @include fz(19);
    line-height: 2rem;
    letter-spacing: 0.059rem;
    padding-right: 23px;

    p:first-child {
        margin-bottom: 32px;
    }
}

footer {
    height: 300px;
    background-color: $footer-bg;
}

.footer-items {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid $text-color;
    @include fz(24);
}

#spec {
    margin-bottom: 30px;
}

address {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    font-style: normal;
    letter-spacing: 0.1rem;
}

.copyright small {
    display: block;
    text-align: center;
    @include fz(12);
    line-height: 1.66;
    letter-spacing: 0.1rem;
    color: $black;
}