$header-color:#5373FD;
$text:#FFF;
$search:#999999;
$btn-hover:#486BFE;
$ul-bg:#333333;

$font-main:"Aleo",
serif;
$font-text:"Josefin Sans",
sans-serif;

@mixin fz($px) {
    font-size: ($px/16)*1rem;
}

@mixin lh($px) {
    line-height: ($px/16)*1rem;
}

@mixin ls($percent) {
    letter-spacing: ($percent / 100) * 1em;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
button {
    transition: all .2s ease;
}

body {
    font-family: $font-main;
    color: $text;
}

.container {
    width: min(90%, 1320px);
    margin: 0 auto;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font-text;
    text-align: center;
    background-image: url('../images/hero-mountain-bg.webp');
    min-height: calc(100dvh - 84px);
    max-height: 1905px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
        text-transform: uppercase;
        font-weight: 700;
        @include fz(48);
        @include lh(52);
        margin-bottom: 8px;
    }

    p {
        font-weight: 400;
        @include fz(22);
        @include lh(28);
        @include ls(31);
    }

    hgroup {
        margin-bottom: 48px;
    }
}

.form-wrapper {
    min-width: 647px;
    min-height: 52px;
    background-color: $text;
    position: relative;
    border: 4px solid $text;
}

input[type=text] {
    width: 100%;
    height: 52px;
    border: none;
    padding: 20px 190px 20px 32px;
    font-family: inherit;
    color: $search;
    font-weight: 400;
    @include fz(14);
    @include lh(20);
    @include ls(20);

    &:focus {
        border: 1px solid $header-color;
        outline: none;
    }
}

form button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    background-color: $header-color;
    padding: 16px 24px;
    border-right: 1px solid $text;
    font-family: $font-main;
    color: inherit;
    text-transform: uppercase;
    @include fz(14);
    @include lh(20);
    @include ls(10);
    cursor: pointer;
}

form button i {
    @include fz(16);
    vertical-align: middle;
    margin-right: 12px;
}

header {
    height: 84px;
    background-color: $header-color;
    position: sticky;
    top: 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}

.nav-list {
    display: flex;
    gap: 40px;

    li {
        text-transform: uppercase;
        @include fz(14);
        @include lh(20);
        @include ls(10);
    }
}

.why-choose-us {
    background-image: url('../images/why-choose-us-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.second-sec {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.21fr 1fr;
    gap: 136px;
    align-items: center;
    justify-content: center;
}

h2 {
    @include fz(36);
    @include lh(40);
    font-weight: 400;
    letter-spacing: -0.01em;
}

p {
    font-family: $font-text;
    font-weight: 300;
    @include fz(16);
    @include lh(28);
    @include ls(10);
}

.main-btn button {
    border: none;
    background-color: $header-color;
    padding: 20px 32px;
    font-family: $font-main;
    color: inherit;
    text-transform: uppercase;
    @include fz(16);
    @include lh(20);
    @include ls(7);
    cursor: pointer;
    background: linear-gradient(45deg, $btn-hover 50%, $header-color 50%);
    background-repeat: no-repeat;
    background-size: 250% 100%;
    background-position: 58% 0%;
    transition: background-position 0.3s ease;

    &:hover {
        background-position: 0% 0%;
    }
}

.text-info {

    h2 {
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 32px;
    }

    .par {
        margin-bottom: 29px;
    }
}

.images {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 112px;

    img {

        &:first-child {
            align-self: flex-start;
        }

        &:last-child {
            align-self: flex-end;
        }
    }
}

.spain-hotel {
    background-image: url('../images/spain-hotel-bg.webp');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container {
        padding-top: 373px;
    }
}

.text-overlay {
    background-color: rgba(35, 35, 35, .9);
    padding: 44px 32px;
    max-width: 648px;

    hgroup {
        p {
            font-family: $font-text;
            font-weight: 300;
            @include fz(20);
            @include lh(28);
            @include ls(10);
            margin-bottom: 16px;
        }
    }

    button {
        padding: 20px 56px;
        margin-top: 24px;
    }
}

h3 {
    font-family: $font-text;
    text-transform: uppercase;
    font-weight: 400;
    @include fz(20);
    @include lh(28);
    margin-bottom: 16px;
}

.spain-nature {
    background-image: url('../images/spain-nature.-bg.webp');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.our-tourists {
    background-image: url('../images/our-tourists-bg.webp');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        padding-top: 120px;
        text-align: center;
        margin-bottom: 60px;
    }
}

.flex-tourists {
    display: flex;
    align-items: center;
}