*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: Roboto;
    font-size: 1rem;
    color: #16133D;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    height: 80px;
    margin-bottom: 100px;
    border-bottom: 1px solid #EFEEF3;

    img {
        padding: 22.5px 0;
    }
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}

section {
    margin-bottom: 100px;
}

hgroup {
    margin-bottom: 40px;

    p {
        font-size: 1rem;
        line-height: 1.3125rem;
        color: #7690A8;
        margin-left: 3px;
        margin-bottom: 15px;
    }
}

h1 {
    font-family: "Nunito Sans";
    font-size: 2.5rem;
    line-height: 3.25rem;
    font-weight: 600;
    letter-spacing: 0.0125rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

ul li {
    padding: 40px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
}

.icon-wrapper {
    width: 64px;
    height: 64px;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    line-height: 1.33125rem;
    font-weight: 400;
    letter-spacing: 0.0125rem;
}

li p {
    margin-bottom: 30px;
    line-height: 1.75rem;
}

li a {
    text-decoration: none;
    color: #3DB370;
    font-weight: 600;
}

.icon-instagram svg {
    height: 20.01px;
    width: 20.01px;
}

.icon-facebook svg {
    height: 18.67px;
    width: 10px;
}

.icon-github svg {
    height: 19.5px;
    width: 20px;
}

.icon-dribble svg {
    height: 19.38px;
    width: 19.38px;
}

.icon-twitter svg {
    height: 16.24px;
    width: 20px;
}

.wrap {
    height: 38px;
    width: 38px;
    border-radius: 5px;
    background-color: #F4FEFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    gap: 10px;
}

.logo svg {
    height: 35px;
    width: 200px;
    margin-bottom: 40px;
}

.logo {
    padding-top: 40px;
}

footer {
    height: 193px;
    background-color: #16133D;
}