*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: Roboto;
    font-size: 1rem;
    color: #16133D;
}

header {
    height: 80px;
    margin-bottom: 100px;
    border-bottom: 1px solid #EFEEF3;
}

.logo-header svg {
    height: 35px;
    width: 200px;
    display: block;
}

.logo-header {
    padding: 22px 0;
}

.container {
    width: min(90%, 1170px);
    margin: 0 auto;
}

section {
    margin-bottom: 99px;
}

hgroup {
    margin-bottom: 32px;
    /*змінено*/

    p {
        font-size: 1rem;
        line-height: 1.3125rem;
        color: #7690A8;
        margin-left: 3px;
        margin-bottom: 15px;
    }
}

h1 {
    font-family: "Nunito Sans";
    font-size: 2.5rem;
    line-height: 3.25rem;
    font-weight: 600;
    letter-spacing: 0.0125rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

ul li {
    padding: 40px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

ul li:hover {
    border: 1px solid #3DB370;
}

.icon-wrapper {
    width: 64px;
    height: 64px;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

.main-icon {
    position: absolute;
    transition: opacity 0.2s ease;
}

.green {
    opacity: 0;
}

.icon-wrapper:hover .green {
    opacity: 1;
}

.icon-wrapper:hover .blue {
    opacity: 0;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    line-height: 1.33125rem;
    font-weight: 400;
    letter-spacing: 0.0125rem;
}

li p {
    margin-bottom: 28px;
    line-height: 1.7rem;
    width: 95%;
}

li a {
    text-decoration: none;
    color: #3DB370;
    font-weight: 600;
    line-height: 1.25rem;
}

.icon-instagram svg {
    height: 20px;
    width: 20px;
}

.icon-facebook svg {
    height: 19px;
    width: 10px;
}

.icon-github svg {
    height: 20px;
    width: 20px;
}

.icon-dribble svg {
    height: 19px;
    width: 19px;
}

.icon-twitter svg {
    height: 16px;
    width: 20px;
}

.wrap {
    height: 38px;
    width: 38px;
    border-radius: 5px;
    background-color: #F4FEFF;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        display: flex;
    }
}


.icons {
    display: flex;
    gap: 10px;
}

.logo svg {
    height: 35px;
    width: 200px;
    margin-bottom: 40px;
    display: block;
}

.logo {
    padding-top: 40px;
}

use {
    transition: fill 0.2s ease;
}

.wrap {
    use {
        fill: #0D0D0D;
    }

    &:hover {
        use {
            fill: #3DB370;
        }
    }
}

footer {
    height: 193px;
    background-color: #16133D;
}