<footer>
    <div class="container bio" id="contacts">
        <hgroup>
            <h2>Contacts</h2>
            <p>Want to know more or just chat?
                <br>
                You are welcome!
            </p>
        </hgroup>
        <div class="btn-wrap"><button>Send message</button></div>
        <ul class="s-media">
            <li><a href="#"><img src="./src/assets/images/linkedin.svg" alt="LinkedIn"></a></li>
            <li><a href="#"><img src="./src/assets/images/instagram.svg" alt="Instagram"></a></li>
            <li><a href="#"><img src="./src/assets/images/behance.svg" alt="Behance"></a></li>
            <li><a href="#"><img src="./src/assets/images/dribbble.svg" alt="Dribble"></a></li>
        </ul>
        <p>Like me on<br>LinkedIn, Instagram, Behance,<br>Dribble</p>
    </div>
</footer>